<header class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-elevation--z4">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
        <span class="mdc-top-app-bar__title">Drawer POS</span>
      </section>

      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
        <button onclick = "tableGenerator()" class="mdc-fab mdc-fab--extended" aria-label="Add">
          <div class="mdc-fab__ripple"></div>
          <span class="mdc-fab__icon material-icons">add</span>
          <span class="mdc-fab__label">Order</span>
        </button>
      </section>

    </div>
  </header>